*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.griglia{
    width: 80%;
    height: 80%;
}

.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.navbar{
    height: 5vh;
}

main{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}